*{
    margin: 0;
    padding: 0;
}

.full-width{
    width: 100%;
}
.container{
    width: 970px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* all common css */
/* header part start */
#header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    float: left;
    width: 83px;
}
.header_text{

    float: left;
    width: 665px;
}
.header_text h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 15px;
    font-size: 26px;
    color: #3ca2a2;
}
.phone_number{
    float: left; 
    width: 222px;
}
.phone_number h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #ca0711;
    padding-top: 30px;
    
}
/* header part end*/

/* menu part start */
#menu{
    margin-top: 73px;
    width: 100%;
    height: 50px;
    background-color: #ca0711;
 
}

.menu_item ul li{
   padding-top: 15px;
   padding-bottom: 15px;
    display: inline-block;
}

.menu_item ul li :hover{
    transition: all linear 1s;
background-color: #f18d26;
padding-bottom: 15px;
padding-top: 15px;

}

.menu_item ul li a{
    cursor: pointer;
    padding-right: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
/* menu part ended */

/* banner part start */
#banner{
    background: url(../imges/logo.1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.banner_section{
    display: flex;
    padding-top: 80px;
}
.banner_text h3{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.banner_text h2{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.banner_text p{
    padding-top: 30px;
    font-size: 16px;
    color: #3ca2a2;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.banner_btn{
    background-color: #92c7a3;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 18px;
   
}
.banner_btn a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
/* banner part ended */

/* card part start */
#card{
    padding-top: 50px;
    padding-bottom: 80px;
}

.card_info{
    display: flex;
}
.card_item{
    width: 270px;
    text-align: center;
    margin-left: 50px;
}

.card_item h3{
    font-size: 22px;
    color: #3ca2a2;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
}

.card_item p{
    font-size: 13px;
    font-weight: 400;
    color: #215a6d;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.card_item a{
    font-size: 14px;
    font-weight: 500;
    color: #92c7a3;
    font-family: 'Roboto', sans-serif;
     
}

.card_icon{
    padding-right: 8px;
    color: #ca0711;
}
/* card part ended */

/* notice start */
#notice{
    background: #dfece6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.notice_item{
    display: flex;
}

.notice_board{
    width: 470px;
}
.notice_board a{
    font-size: 14px;
    padding-top: 20px;
    color: #ca0711;
}
.notice_board h3{
    font-size: 29px;
    color: #215a6d;
    font-weight: 400;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
}
.notice_Video{
    padding-left: 30px;
    width: 470px;
}
.notice_Video h3{
    font-size: 29px;
    color: #215a6d;
    font-weight: 400;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
}


.line{
    padding-top: 15px;
    padding-bottom: 35px;
    display: flex;
}

.line_red{
    width: 85px;
    background: #ae1010;
    height: 2px;
}

.line_white{
    width: 400px;
    background: #ffffff;
    height: 2px;
}

.news{
    display: flex;
    border-bottom: 1px solid #3ca2a2;
}

.news_item{
    width: 430px;
    background: #ffffff;
    height: 40px;
    
}

.news_item h3{
    padding-left: 10px;
    font-size: 16px;
    color: #3ca2a2;
    font-family: 'Roboto', sans-serif;
}

.news_icon{
    width: 55px;
    background: #ca0711;
    height: 40px;
    text-align: center;
}

.news_icon i{
    padding-top: 10px;
    color: #ffffff;
    font-size: 16px;
}
/* notice ended */

/* events start */
#event{
    padding-top: 60px;
    padding-bottom: 60px;
}
.event_item{
    display: flex;
}
.news_event{
    width: 300px;
}

.news_event h3{
    font-size: 29px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.news_event h4{
    padding-bottom: 10px;
    font-size: 18px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.news_event p{
    padding-bottom: 60px;
    font-size: 13px;
    color:#215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.madical_service{
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}
.madical_service h3{
    font-size: 29px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.madical_service h4{
    font-size: 13px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.madical_icon i{
    color:#ae1010;
    padding-right: 5px;
    padding-bottom: 15px;
}

.madical_service a i{
    padding-top: 97px;
}
.photp_gal{
    width: 300px;
    padding-left: 30px;
}
.photo_gal h3{
    font-size: 29px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.photo_gal a i{
    padding-top: 100px;
}
.ph_gal{
    display: flex;
}
.ph_gal_item_1{
    width: 140px;
}

.ph_gal_item_2{
    padding-left: 20px;
    width: 140px;
}
.line_white_event{
    width: 250px;
    height: 2px;
    background: #81928a;
}

/* events ended */