*{
    margin: 0;
    padding: 0;
}

.full-width{
    width: 100%;
}
.container{
    width: 970px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* all common css */
/* header part start */
#header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    float: left;
    width: 83px;
}
.header_text{

    float: left;
    width: 665px;
}
.header_text h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 15px;
    font-size: 26px;
    color: #3ca2a2;
}
.phone_number{
    float: left; 
    width: 222px;
}
.phone_number h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #ca0711;
    padding-top: 30px;
    
}
/* header part end*/

/* menu part start */
#menu{
    margin-top: 73px;
    width: 100%;
    height: 50px;
    background-color: #ca0711;
 
}

.menu_item ul li{
   padding-top: 15px;
   padding-bottom: 15px;
    display: inline-block;
}

.menu_item ul li :hover{
    transition: all linear 1s;
background-color: #f18d26;
padding-bottom: 15px;
padding-top: 15px;

}

.menu_item ul li a{
    cursor: pointer;
    padding-right: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
/* menu part ended */

/* banner part start */
#banner{
    background: url(../imges/logo.1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.banner_section{
    display: flex;
    padding-top: 80px;
}
.banner_text h3{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.banner_text h2{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.banner_text p{
    padding-top: 30px;
    font-size: 16px;
    color: #3ca2a2;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.banner_btn{
    background-color: #92c7a3;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 18px;
   
}
.banner_btn a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
/* banner part ended */


